.a_page {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 414px;
    height: 4646px;
    overflow: hidden;
}

.a_group_1 {
    padding: 14px 0 1px 0;
}

.block_a1 {
    margin: 0 15px 0 39px;
}

.text_1 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    letter-spacing: -0.30000001192092896px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    line-height: 21px;
}


.a_image-wrapper_1 {
    background-color: rgba(255, 255, 255, 1);
    width: 414px;
    margin-top: 9px;
    padding: 1px 17px 1px 17px;
}

.a_image_2 {
    width: 92px;
    height: 54px;
}

.a_label_1 {
    width: 24px;
    height: 24px;
    margin: 15px 0 15px 0;
}

.a_image_3 {
    width: 414px;
    height: 278px;
    margin-top: -1px;
}

.a_group_2 {
    position: relative;
    margin-top: 504px;
    padding: 26px 36px 30px 38px;
}

.a_box_1 {
    width: 50px;
    height: 50px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca335d50af97ae4fa355bfa5a68b8e61a0fdd0d7367b17b8dc25755f5f4da197)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
}

.a_paragraph_1 {
    width: 340px;
    height: 440px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: justify;
    line-height: 20px;
    margin-top: 33px;
}

.a_box_2 {
    width: 50px;
    height: 50px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca335d50af97ae4fa355bfa5a68b8e61a0fdd0d7367b17b8dc25755f5f4da197)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
    margin-top: 47px;
}

.a_text_2 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 25px 24px 0 22px;
}

.a_text_3 {
    position: absolute;
    left: 175px;
    top: 26px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_4 {
    position: absolute;
    left: 88px;
    top: 49px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_text_5 {
    position: absolute;
    left: 175px;
    top: 596px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_6 {
    position: absolute;
    left: 92px;
    top: 619px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_group_3 {
    background-color: rgba(255, 238, 226, 1);
    border-radius: 16px;
    width: 382px;
    align-self: center;
    margin-top: -1px;
    padding: 0 29px 24px 19px;
}

.a_section_1 {
    width: 334px;
}

.a_text_7 {
    overflow-wrap: break-word;
    color: rgba(249, 220, 192, 1);
    font-size: 104px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 145px;
}

.a_section_2 {
    margin-top: 31px;
}

.a_box_3 {
    width: 197px;
    margin-right: 88px;
}

.a_group_4 {
    background-color: rgba(255, 163, 83, 1);
    width: 10px;
    height: 10px;
    margin: 9px 0 9px 0;
}

.a_text_8 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

.a_box_4 {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 2px;
    margin: 7px 5px 0 0;
}

.a_text_9 {
    width: 285px;
    height: 130px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    line-height: 26px;
    margin-top: 13px;
}

.a_section_3 {
    width: 320px;
    margin: 36px 9px 0 5px;
}

.a_image-text_1 {
    width: 110px;
}

.a_label_2 {
    width: 28px;
    height: 28px;
}

.a_text-group_1 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.a_text_10 {
    overflow-wrap: break-word;
    color: rgba(124, 123, 121, 1);
    font-size: 13px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.a_group_5 {
    background-color: rgba(255, 238, 226, 1);
    border-radius: 16px;
    width: 382px;
    align-self: center;
    margin-top: 16px;
    padding: 0 29px 24px 19px;
}

.a_group_6 {
    width: 334px;
}

.a_text_11 {
    overflow-wrap: break-word;
    color: rgba(249, 220, 192, 1);
    font-size: 104px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 145px;
}

.a_group_7 {
    margin-top: 31px;
}

.a_block_2 {
    width: 180px;
    margin-right: 105px;
}

.a_box_5 {
    background-color: rgba(255, 163, 83, 1);
    width: 10px;
    height: 10px;
    margin: 9px 0 9px 0;
}

.a_text_12 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

.a_block_3 {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 2px;
    margin: 7px 5px 0 0;
}

.a_text_13 {
    width: 285px;
    height: 78px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    line-height: 26px;
    margin-top: 13px;
}

.a_group_8 {
    width: 314px;
    margin: 36px 15px 0 5px;
}

.a_image-text_2 {
    width: 142px;
}

.a_label_3 {
    width: 28px;
    height: 28px;
}

.a_text-group_2 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.a_text_14 {
    overflow-wrap: break-word;
    color: rgba(124, 123, 121, 1);
    font-size: 13px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.a_group_9 {
    position: relative;
    padding: 54px 0 9px 0;
}

.a_section_4 {
    width: 50px;
    height: 50px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca335d50af97ae4fa355bfa5a68b8e61a0fdd0d7367b17b8dc25755f5f4da197)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
}

.a_paragraph_2 {
    width: 340px;
    height: 220px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: left;
    line-height: 20px;
    margin: 43px 36px 0 38px;
}

.a_section_5 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    width: 382px;
    height: 122px;
    align-self: center;
    margin-top: 40px;
}

.a_section_6 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    width: 382px;
    height: 122px;
    align-self: center;
    margin-top: 13px;
}

.a_section_7 {
    width: 50px;
    height: 50px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca335d50af97ae4fa355bfa5a68b8e61a0fdd0d7367b17b8dc25755f5f4da197)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
    margin-top: 54px;
}

.a_paragraph_3 {
    width: 340px;
    height: 240px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: left;
    line-height: 20px;
    margin: 43px 36px 0 38px;
}

.a_section_8 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    width: 382px;
    height: 122px;
    align-self: center;
    margin-top: 34px;
}

.a_section_9 {
    width: 50px;
    height: 50px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngca335d50af97ae4fa355bfa5a68b8e61a0fdd0d7367b17b8dc25755f5f4da197)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
    margin-top: 54px;
}

.a_paragraph_4 {
    width: 340px;
    height: 271px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: left;
    line-height: 20px;
    margin: 43px 36px 0 38px;
}

.a_section_10 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    width: 382px;
    height: 122px;
    align-self: center;
    margin-top: 56px;
}

.a_section_11 {
    background-color: rgba(237, 237, 237, 1);
    width: 414px;
    height: 1px;
    margin-top: 588px;
}

.a_section_12 {
    background-color: rgba(255, 255, 255, 1);
    width: 414px;
    justify-content: center;
    padding: 1px 16px 0 16px;
}

.a_group_10 {
    background-color: rgba(255, 255, 255, 1);
    margin: 5px 0 6px 0;
    padding: 0 3px 0 3px;
}

.a_image-text_3 {
    text-decoration: none;
}

.a_label_4 {
    width: 24px;
    height: 24px;
    align-self: center;
}

.a_text-group_3 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 2px;
}

.a_group_11 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    margin: 5px 0 6px 15px;
    padding: 4px 3px 0 3px;
    text-decoration: none;
}

.a_box_6 {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin: 0 25px 0 13px;
}

.a_text_15 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 8px;
}

.a_label_5 {
    position: absolute;
    left: 17px;
    top: 0;
    width: 24px;
    height: 24px;
}

.a_image_4 {
    width: 93px;
    height: 55px;
    margin-left: 15px;
}

.a_group_12 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    margin: 5px 0 6px 12px;
    padding: 5px 10px 0 9px;
    text-decoration: none;
}

.a_block_4 {
    background-color: rgba(230, 230, 230, 1);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin: 0 19px 0 6px;
}

.a_text_16 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 7px;
}

.a_label_6 {
    position: absolute;
    left: 15px;
    top: 1px;
    width: 24px;
    height: 24px;
}

.a_group_13 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    margin: 5px 0 6px 15px;
    padding: 5px 16px 0 16px;
    text-decoration: none;
}

.a_box_7 {
    background-color: rgba(230, 230, 230, 1);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.a_text_17 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 7px;
}

.a_label_7 {
    position: absolute;
    left: 16px;
    top: 1px;
    width: 24px;
    height: 24px;
}

.a_image_5 {
    width: 134px;
    height: 5px;
    align-self: center;
    margin-top: 21px;
}

.a_text_18 {
    position: absolute;
    left: 173px;
    top: 54px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_19 {
    position: absolute;
    left: 103px;
    top: 77px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_text_20 {
    position: absolute;
    left: 175px;
    top: 718px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_21 {
    position: absolute;
    left: 103px;
    top: 741px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_text_22 {
    position: absolute;
    left: 176px;
    top: 1261px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_23 {
    position: absolute;
    left: 88px;
    top: 1284px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_group_14 {
    position: absolute;
    left: 0;
    top: 378px;
    width: 414px;
    height: 504px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng659507b6519d8db19101b027aadf25a00b4e279d7903e245468a02b1019c21a4)
    100% no-repeat;
    background-size: 100% 100%;
    padding: 18px 36px 40px 38px;
}

.a_group_15 {
    width: 52px;
    height: 52px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngcbeeedda3ab7fca7fe4e8396a70d54d9d78b0b721e202e1fc0217ce4d52b3cd0)
    100% no-repeat;
    background-size: 100% 100%;
    align-self: center;
}

.a_paragraph_5 {
    width: 340px;
    height: 360px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: justify;
    line-height: 20px;
    margin-top: 34px;
}

.a_text_24 {
    position: absolute;
    left: 174px;
    top: 18px;
    overflow-wrap: break-word;
    color: rgba(125, 94, 48, 1);
    font-size: 24px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
}

.a_text_25 {
    position: absolute;
    left: 118px;
    top: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
}

.a_group_16 {
    position: absolute;
    left: 362px;
    top: -49px;
    width: 52px;
    height: 160px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng916154086705ec9b6076839212f7431b8403fc293fe3ceff0634ff20f34e6027)
    100% no-repeat;
    background-size: 100% 100%;
    padding: 10px 10px 18px 10px;
}

.a_image-wrapper_2 {
    background-color: rgba(254, 254, 253, 1);
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.a_label_8 {
    width: 22px;
    height: 22px;
}

.a_text_26 {
    width: 16px;
    height: 88px;
    overflow-wrap: break-word;
    color: rgba(254, 254, 253, 1);
    font-size: 16px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    line-height: 22px;
    align-self: center;
    margin-top: 12px;
}
