.page {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 414px;
    height: 3999px;
    overflow: hidden;
}

.image_1 {
    width: 414px;
    height: 18px;
}

.image_2 {
    width: 414px;
    height: 278px;
    margin-top: 82px;
}

.image_3 {
    width: 410px;
    height: 240px;
    align-self: center;
    margin-top: 34px;
}

.section_1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    width: 340px;
    align-self: center;
    margin-top: 17px;
    padding: 19px 123px 21px 120px;
}

.image-text_1 {
    width: 97px;
}

.text-group_1 {
    height: 14px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 28px;
}

.thumbnail_1 {
    width: 10px;
    height: 12px;
    margin-top: 2px;
}

.section_2 {
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdef21ae0529c55adb79509adad80a95ce6a581701b1057f4b1520b6ea0b2a928)
    100% no-repeat;
    background-size: 100% 100%;
    margin-top: 22px;
    padding: 10px 16px 140px 16px;
}

.section_3 {
    margin: 0 78px 0 116px;
}

.section_4 {
    width: 36px;
    height: 36px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga28dd682ffe32a4e1613da8159e2a3242dcb65a0a972c3613af6588c52b10f98)
    100% no-repeat;
    background-size: 100% 100%;
    margin: 23px 0 3px 0;
}

.text_1 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
    margin: 20px 0 0 -21px;
}

.image_4 {
    width: 50px;
    height: 50px;
    margin: 0 0 12px 3px;
}

.text_2 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    align-self: center;
    margin-top: 12px;
}

.section_5 {
    width: 382px;
    margin-top: 16px;
}

.box_1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 8px 8px 13px 8px;
}

.image-text_2 {
}

.image_5 {
    width: 167px;
    height: 119px;
}

.text-group_2 {
    margin: 12px 22px 0 18px;
}

.text_3 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_4 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.section_6 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_3 {
    width: 93px;
}

.text-group_3 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_2 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.box_2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 8px 8px 13px 8px;
}

.image-text_4 {
}

.image_6 {
    width: 167px;
    height: 119px;
}

.text-group_4 {
    margin: 12px 22px 0 18px;
}

.text_5 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_6 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.group_1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_5 {
    width: 93px;
}

.text-group_5 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_3 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.section_7 {
    position: relative;
    padding: 470px 16px 28px 16px;
}

.group_2 {
    margin: 0 71px 0 116px;
}

.group_3 {
    width: 36px;
    height: 36px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng972d3fa46772c236fa89d31cb7d80e5e3987b96b64886cd2781c3a8f11cce534)
    100% no-repeat;
    background-size: 100% 100%;
    margin: 11px 0 3px 0;
}

.text_7 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
    margin: 8px 0 0 -21px;
}

.image_7 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.text_8 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    align-self: center;
    margin-top: 8px;
}

.list_1 {
    height: 980px;
    margin-top: 24px;
}

.image-text_6-0 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-0 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-0 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-0 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text-wrapper_1-0 {
    width: 78px;
    margin: 46px 122px 0 2px;
}

.text_11-0 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
}

.text_12-0 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

.text-wrapper_3-0 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-0 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-0 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-0 {
    width: 93px;
}

.thumbnail_4-0 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-0 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.text-wrapper_4-0 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -101px;
    padding: 1px 4px 1px 4px;
}

.text_15-0 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.text-wrapper_5-0 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    height: 19px;
    width: 56px;
    position: absolute;
    left: 146px;
    top: 68px;
    padding: 1px 4px 1px 4px;
}

.text_16-0 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.image-text_6-1 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-1 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-1 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-1 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text-wrapper_1-1 {
    width: 78px;
    margin: 46px 122px 0 2px;
}

.text_11-1 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
}

.text_12-1 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

.text-wrapper_3-1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-1 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-1 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-1 {
    width: 93px;
}

.thumbnail_4-1 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-1 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.text-wrapper_4-1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -101px;
    padding: 1px 4px 1px 4px;
}

.text_15-1 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.text-wrapper_5-1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    height: 19px;
    width: 56px;
    position: absolute;
    left: 146px;
    top: 68px;
    padding: 1px 4px 1px 4px;
}

.text_16-1 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.image-text_6-2 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-2 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-2 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-2 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text-wrapper_1-2 {
    width: 78px;
    margin: 46px 122px 0 2px;
}

.text_11-2 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
}

.text_12-2 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

.text-wrapper_2-2 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    position: absolute;
    left: 148px;
    top: 66px;
    padding: 1px 4px 1px 4px;
}

.text_13-2 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.text-wrapper_3-2 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-2 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-2 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-2 {
    width: 93px;
}

.thumbnail_4-2 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-2 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.image-text_6-3 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-3 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-3 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-3 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text-wrapper_1-3 {
    width: 78px;
    margin: 46px 122px 0 2px;
}

.text_11-3 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
}

.text_12-3 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

.text-wrapper_3-3 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-3 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-3 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-3 {
    width: 93px;
}

.thumbnail_4-3 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-3 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.text-wrapper_5-3 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    height: 19px;
    width: 56px;
    position: absolute;
    left: 146px;
    top: 68px;
    padding: 1px 4px 1px 4px;
}

.text_16-3 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.image-text_6-4 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-4 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-4 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-4 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text_10-4 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin: 46px 122px 0 35px;
}

.text-wrapper_2-4 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    position: absolute;
    left: 148px;
    top: 66px;
    padding: 1px 4px 1px 4px;
}

.text_13-4 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.text-wrapper_3-4 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-4 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-4 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-4 {
    width: 93px;
}

.thumbnail_4-4 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-4 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.image-text_6-5 {
    background-color: rgba(244, 242, 237, 1);
    border-radius: 16px;
    position: relative;
    width: 382px;
    height: 150px;
    margin-bottom: 16px;
    padding: 16px 60px 14px 16px;
}

.image_8-5 {
    width: 118px;
    height: 118px;
    margin-bottom: 2px;
}

.text-group_6-5 {
    width: 202px;
    height: 120px;
    margin-left: 12px;
}

.text_9-5 {
    width: 202px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 16px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    line-height: 22px;
}

.text-wrapper_1-5 {
    width: 78px;
    margin: 46px 122px 0 2px;
}

.text_11-5 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
}

.text_12-5 {
    overflow-wrap: break-word;
    color: rgba(190, 113, 1, 1);
    font-size: 22px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

.text-wrapper_3-5 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    margin: 52px 0 49px -142px;
    padding: 1px 4px 1px 4px;
}

.text_14-5 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.block_1-5 {
    background-color: rgba(125, 188, 144, 1);
    border-radius: 5px;
    margin: 84px 0 3px -15px;
    padding: 6px 14px 7px 13px;
}

.image-text_7-5 {
    width: 93px;
}

.thumbnail_4-5 {
    width: 16px;
    height: 16px;
    margin: 3px 0 1px 0;
}

.text-group_7-5 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}

.text-wrapper_5-5 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 4px;
    height: 19px;
    width: 56px;
    position: absolute;
    left: 146px;
    top: 68px;
    padding: 1px 4px 1px 4px;
}

.text_16-5 {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.group_4 {
    margin: 32px 131px 0 116px;
}

.section_8 {
    width: 36px;
    height: 36px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga28dd682ffe32a4e1613da8159e2a3242dcb65a0a972c3613af6588c52b10f98)
    100% no-repeat;
    background-size: 100% 100%;
    margin: 3px 0 3px 0;
}

.text_17 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 42px;
    margin-left: -21px;
}

.text_18 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    align-self: center;
    margin-top: 8px;
}

.image_9 {
    position: absolute;
    left: 266px;
    top: 1584px;
    width: 50px;
    height: 50px;
}

.section_9 {
    background-color: rgba(255, 238, 226, 1);
    border-radius: 16px;
    width: 382px;
    align-self: center;
    margin-top: -1px;
    padding: 0 29px 24px 19px;
}

.box_3 {
    width: 334px;
}

.text_19 {
    overflow-wrap: break-word;
    color: rgba(249, 220, 192, 1);
    font-size: 34px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 145px;
}

.section_10 {
    margin-top: 31px;
}

.group_5 {
    width: 197px;
    margin-right: 88px;
}

.section_11 {
    background-color: rgba(255, 163, 83, 1);
    width: 10px;
    height: 10px;
    margin: 9px 0 9px 0;
}

.text_20 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

.group_6 {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 2px;
    margin: 7px 5px 0 0;
}

.text_21 {
    width: 285px;
    height: 130px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Regular;
    text-align: left;
    line-height: 26px;
    margin-top: 13px;
}

.box_4 {
    width: 320px;
    margin: 36px 9px 0 5px;
}

.image-text_8 {
    width: 110px;
}

.label_1 {
    width: 28px;
    height: 28px;
}

.text-group_8 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.text_22 {
    overflow-wrap: break-word;
    color: rgba(124, 123, 121, 1);
    font-size: 13px;
    font-family: STSongti-TC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.section_12 {
    background-color: rgba(255, 238, 226, 1);
    border-radius: 16px;
    width: 382px;
    align-self: center;
    margin-top: 16px;
    padding: 0 29px 24px 19px;
}

.group_7 {
    width: 334px;
}

.text_23 {
    overflow-wrap: break-word;
    color: rgba(249, 220, 192, 1);
    font-size: 34px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 145px;
}

.block_2 {
    margin-top: 31px;
}

.group_8 {
    width: 180px;
    margin-right: 105px;
}

.block_3 {
    background-color: rgba(255, 163, 83, 1);
    width: 10px;
    height: 10px;
    margin: 9px 0 9px 0;
}

.text_24 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

.group_9 {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 2px;
    margin: 7px 5px 0 0;
}

.text_25 {
    width: 285px;
    height: 78px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 14px;
    font-family: STSongti-TC-Regular;
    text-align: left;
    line-height: 26px;
    margin-top: 13px;
}

.group_10 {
    width: 314px;
    margin: 36px 15px 0 5px;
}

.image-text_9 {
    width: 142px;
}

.label_2 {
    width: 28px;
    height: 28px;
}

.text-group_9 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.text_26 {
    overflow-wrap: break-word;
    color: rgba(124, 123, 121, 1);
    font-size: 13px;
    font-family: STSongti-TC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 5px;
}

.image-wrapper_1 {
    padding: 506px 140px 9px 140px;
}

.image_10 {
    width: 134px;
    height: 5px;
}

.section_13 {
    position: absolute;
    left: 0;
    top: 18px;
    width: 414px;
    height: 83px;
    padding-bottom: 1px;
}

.group_11 {
    margin: -4px 15px 0 39px;
}

.text_27 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    letter-spacing: -0.30000001192092896px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    line-height: 21px;
}

.thumbnail_5 {
    width: 17px;
    height: 11px;
    margin: 4px 0 6px 258px;
}

.image_11 {
    width: 24px;
    height: 10px;
    margin: 4px 0 7px 25px;
}

.image-wrapper_2 {
    background-color: rgba(255, 255, 255, 1);
    width: 414px;
    margin-top: 9px;
    padding: 1px 17px 1px 17px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.image_12 {
    width: 92px;
    height: 54px;
}

.label_3 {
    width: 24px;
    height: 24px;
    margin: 15px 0 15px 0;
}

.thumbnail_6 {
    position: absolute;
    left: 355px;
    top: -1px;
    width: 15px;
    height: 11px;
}

.section_14 {
    height: 520px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdef21ae0529c55adb79509adad80a95ce6a581701b1057f4b1520b6ea0b2a928)
    100% no-repeat;
    background-size: 100% 100%;
    width: 414px;
    position: absolute;
    left: 0;
    top: 1155px;
}

.grid_1 {
    width: 382px;
    height: 536px;
    flex-wrap: wrap;
    margin: -42px 16px 26px 16px;
}

.list-items_1-0 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 183px;
    height: 260px;
    margin: 0 16px 16px 0;
    padding: 8px 8px 13px 8px;
}

.list-items_1-0:nth-child(2n) {
    margin-right: 0;
}
.list-items_1-0:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.image-text_10-0 {
}

.image_13-0 {
    width: 167px;
    height: 119px;
}

.text-group_10-0 {
    margin: 12px 22px 0 18px;
}

.text_28-0 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_29-0 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.group_12-0 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_11-0 {
    width: 93px;
}

.text-group_11-0 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_7-0 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.list-items_1-1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 183px;
    height: 260px;
    margin: 0 16px 16px 0;
    padding: 8px 8px 13px 8px;
    margin-right: 0;
}

.list-items_1-1:nth-child(2n) {
    margin-right: 0;
}
.list-items_1-1:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.image-text_10-1 {
}

.image_13-1 {
    width: 167px;
    height: 119px;
}

.text-group_10-1 {
    margin: 12px 22px 0 18px;
}

.text_28-1 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_29-1 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.group_12-1 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_11-1 {
    width: 93px;
}

.text-group_11-1 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_7-1 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.list-items_1-2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 183px;
    height: 260px;
    margin: 0 16px 16px 0;
    padding: 8px 8px 13px 8px;
    margin-bottom: 0;
}

.list-items_1-2:nth-child(2n) {
    margin-right: 0;
}
.list-items_1-2:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.image-text_10-2 {
}

.image_13-2 {
    width: 167px;
    height: 119px;
}

.text-group_10-2 {
    margin: 12px 22px 0 18px;
}

.text_28-2 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_29-2 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.group_12-2 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_11-2 {
    width: 93px;
}

.text-group_11-2 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_7-2 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.list-items_1-3 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 183px;
    height: 260px;
    margin: 0 16px 16px 0;
    padding: 8px 8px 13px 8px;
    margin-right: 0;
    margin-bottom: 0;
}

.list-items_1-3:nth-child(2n) {
    margin-right: 0;
}
.list-items_1-3:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.image-text_10-3 {
}

.image_13-3 {
    width: 167px;
    height: 119px;
}

.text-group_10-3 {
    margin: 12px 22px 0 18px;
}

.text_28-3 {
    height: 13px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 0 27px 0 28px;
}

.text_29-3 {
    width: 127px;
    height: 34px;
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 12px;
    font-family: STSongti-TC-Light;
    font-weight: NaN;
    text-align: right;
    line-height: 17px;
    margin-top: 9px;
}

.group_12-3 {
    background-color: rgba(255, 163, 83, 1);
    border-radius: 8px;
    margin: 12px 2px 0 0;
    padding: 12px 36px 12px 36px;
}

.image-text_11-3 {
    width: 93px;
}

.text-group_11-3 {
    height: 16px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
}

.thumbnail_7-3 {
    width: 10px;
    height: 12px;
    margin: 2px 0 2px 0;
}

.section_15 {
    position: absolute;
    left: 0;
    top: 378px;
    width: 414px;
    height: 35px;
    padding: 12px 174px 17px 174px;
}

.block_4 {
    position: absolute;
    left: 362px;
    top: -49px;
    width: 52px;
    height: 160px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng916154086705ec9b6076839212f7431b8403fc293fe3ceff0634ff20f34e6027)
    100% no-repeat;
    background-size: 100% 100%;
    padding: 10px 10px 18px 10px;
}

.label_4 {
    width: 32px;
    height: 32px;
}

.text_30 {
    width: 16px;
    height: 88px;
    overflow-wrap: break-word;
    color: rgba(254, 254, 253, 1);
    font-size: 16px;
    font-family: STSongti-TC-Bold;
    text-align: right;
    line-height: 22px;
    align-self: center;
    margin-top: 12px;
}

.section_16 {
    background-color: rgba(217, 217, 217, 1);
    height: 459px;
    padding-bottom: 77px;
    width: 414px;
    position: absolute;
    left: 0;
    top: 3530px;
}

.box_5 {
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngbcedfe8f06fdc236eb089aa7d786678b195df653a69029fd254eb27dd48002d8)
    100% no-repeat;
    background-size: 100% 100%;
    padding: 25px 16px 107px 16px;
}

.group_13 {
    margin: 0 81px 0 116px;
}

.box_6 {
    width: 36px;
    height: 36px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga28dd682ffe32a4e1613da8159e2a3242dcb65a0a972c3613af6588c52b10f98)
    100% no-repeat;
    background-size: 100% 100%;
    margin: 3px 0 11px 0;
}

.text_31 {
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: -0.30000001192092896px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 42px;
    margin-left: -21px;
}

.image_17 {
    width: 50px;
    height: 50px;
}

.text_32 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    align-self: center;
    margin-top: 18px;
}

.text_33 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    align-self: center;
    margin-top: 14px;
}

.text_34 {
    overflow-wrap: break-word;
    color: rgba(35, 40, 37, 1);
    font-size: 13px;
    font-family: STSongti-TC-Bold;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    align-self: center;
    margin-top: 14px;
}

.group_14 {
    background-color: rgba(125, 188, 144, 0.6);
    width: 382px;
    height: 4px;
    margin-top: 28px;
}

.group_15 {
    background-color: rgba(255, 163, 83, 0.6);
    width: 382px;
    height: 4px;
    margin-top: 14px;
}

.image-wrapper_3 {
    margin: 30px 123px 0 128px;
}

.thumbnail_8 {
    width: 20px;
    height: 20px;
}

.thumbnail_9 {
    width: 20px;
    height: 20px;
    margin-left: 33px;
}

.thumbnail_10 {
    width: 20px;
    height: 20px;
    margin-left: 38px;
}
